/* TableData.css */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-image: url('../../../image/img2.jpg'); /* Background image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
}
/* Style for the table container */
.table-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
}

/* Style for the table */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table headers and cells */
.table-container th, .table-container td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style for table headers */
.table-container th {
  background-color: #f2f2f2;
}

/* Style for the button container */
.button-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the buttons */
}

/* Style for individual buttons */
.button-container .insert-button,
.button-container .delete-button,
.button-container .update-button,
.button-container .rename-button,
.button-container .where-button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px 20px;
  border: none; /* Remove border */
  border-radius: 8px;
  background-color: black; /* Change background color to black */
  color: white; /* Change text color to white */
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
  transition: transform 0.3s ease;
}

/* Hover effect for buttons */
.button-container a:hover {
  background-color: #333; /* Darken background color on hover */
  transform: translateY(-3px); /* Move the button slightly up on hover */
}

table img {
  width: 10%; /* You can adjust this percentage to your preference */
  height: 10%; /* Maintain aspect ratio */
} 



/* Style for the table */
.table-container table {
  width: 40%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #1a1818; /* Add border */
 
}

/* Style for table headers and cells */
.table-container th, .table-container td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
 
}

/* Style for table headers */
.table-container th {
  background-color: #f2f2f2;
}

/* Style for alternating rows */
.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Light grey background for even rows */
}

.table-container tbody tr:nth-child(odd) {
  background-color: white; /* White background for odd rows */
}


/* styles/SearchButton.css */

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 18%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.1);
}
