/* Styling for the main container */
.App {
  text-align: center; /* Center-align text */
}

/* Styling for the application header */
.App-header {
  text-align: left; /* Align header text to the left */
  padding: 20px; /* Add padding for spacing */
}

/* Styling for the application header h1 */
.App-header h1 {
  color: white;
  margin: 0; /* Remove default margin */
}

/* Styling for the navigation bar */
.navbar {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute items evenly */
  padding: 10px 20px;
  background-color: #333;
}

/* Styling for the home icon */
.home-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

/* Styling for the home link */
.home-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
}

.home-link,
.login-link,
.signup-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 5px 10px; /* Adjust padding as needed */
}

.home-link:hover,
.login-link:hover,
.signup-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
}

.home-icon,
.login-icon,
.signup-icon {
  margin-right: 5px; /* Add space between icon and text */
}
